// constants

// colors
$pr-black: #1D1D1D;
$pr-white: #fff;
$pr-purple: #542583;

// distances
$pd-xs-small: 4px;
$pd-small: 8px;
$pd-medium: 16px;
$pd-large: 24px;
$pd-xl-large: 48px;

$mr-xs-small: 4px;
$mr-small: 8px;
$mr-medium: 16px;
$mr-large: 24px;
$mr-xl-large: 48px;

// fonts
$ff-title: "Nunito";
$ff-body: "Nunito";