.header {
  display: flex;
  background-color: $pr-purple;
  padding: $pd-medium;
  text-align: center;
  align-items: center;

  &__sandwich-menu {
    width: 32px;
    height: 4px;
    background-color: $pr-white;
    margin: 6px 0;
  }

  &__title {
    display: flex;
    width: 100%;
    font-weight: 400;
    text-align: center;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

}